<!--
~ Copyright 2019 WSO2, Inc. (http://wso2.com)
~
~ Licensed under the Apache License, Version 2.0 (the "License");
~ you may not use this file except in compliance with the License.
~ You may obtain a copy of the License at
~
~ http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing, software
~ distributed under the License is distributed on an "AS IS" BASIS,
~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~ See the License for the specific language governing permissions and
~ limitations under the License.
-->
<!--
   This file is used to configuring the JMX server. You can disable the JMX RMI server from starting
   by setting the value of the StartRMIServer to false.
-->
<JMX xmlns="http://wso2.org/projects/carbon/jmx.xml">
    <StartRMIServer>{{monitoring.jmx.rmi_server_start}}</StartRMIServer>

    <!-- HostName, or Network interface to which this RMI server should be bound -->
    <HostName>{{monitoring.jmx.rmi_hostname}}</HostName>

    <!--  ${Ports.JMX.RMIRegistryPort} is defined in the Ports section of the carbon.xml-->
    <RMIRegistryPort>${Ports.JMX.RMIRegistryPort}</RMIRegistryPort>

    <!--  ${Ports.JMX.RMIRegistryPort} is defined in the Ports section of the carbon.xml-->
    <RMIServerPort>${Ports.JMX.RMIServerPort}</RMIServerPort>
</JMX>
